$bolder-grey:  #777;
$light-grey:   #FFFFFF;
$med-grey:     #6D7883;
$alto-grey:    #DDD;
$faint-blue:   #EEF5F8;
$turquoise:    #008C99;
$dark-grey:    #212529;

$color-legend-shape: #7e7ee5;


$color-Tdark: $bolder-grey;
$color-Tbio:  red;
$color-Tchem: #4DA84D;
$color-Tclin: #AFD8F8;

$color-GPCR:   #EDC240;
$color-NR:     #AFD8F8;
$color-ION:    #CB4B4B;
$color-KINASE: #4FA74D;

$color-disease-by-infectious-agent: #d73027;
$color-disease-of-anatomical-entity: #f46d43;
$color-disease-of-cellular-proliferation: #fdae61;
$color-disease-of-mental-health: #8c510a; // #fee090;
$color-disease-of-metabolism: #9970ab; //#e0f3f8;
$color-genetic-disease: #abd9e9;
$color-physical-disorder: #74add1;
$color-syndrome: #4575b4;
$color-unknown: black;


@mixin stroke-and-fill($color) {
  stroke: $color;
  fill: $color;
}
