@import 'colors';
@import 'target-details';

#detail-modal {
  .disabled {
    pointer-events: none;
  }

  .modal-dialog.modal-lg {
    width: 40%;
  }

  .target-details {
    @extend %target-details;
  }

  .loading-spinner {
    text-align: center;
    margin: 25px 0 25px 0;
  }

  .article-paginator {
    margin-top: 20px;

    .page-item:not(.disabled) .page-link {
      color: $turquoise;
    }
  }

  #article-list {
    margin-bottom: 20px;

    .card {
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid $turquoise;

      &:hover, &:hover .card-header {
        background: $alto-grey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .collapse-toggle:not(.collapsed):not(:hover) .card-header {
        background: lighten($alto-grey, 5%) !important;
      }

      a.collapse-toggle {
        text-decoration: none;
        color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .article-title {
        font-size: 16px;
        color: $turquoise;
      }

      .article-authors, .article-journal {
        font-size: 14px;
        margin-bottom: 4px;
        color: $bolder-grey;
      }

      .abstract {
        padding: 12px 20px 12px 20px;
        font-size: 14px;
        background: white;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .card-body { padding: 0; }

        p { text-align: left; }

        .pubmed-link {
          padding: 5px 30px 5px 30px;
        }
      }

    }
  }

}