@import "~bootstrap/dist/css/bootstrap.css";
@import 'treeview';
@import 'colors';
@import 'scatterplot';
@import 'loading-spinner';
@import 'detail-modal';
@import 'about-modal';
@import 'fonts';
@import url(https://fonts.googleapis.com/css?family=Roboto);


.hide {
  display: none !important;
}

html {
  height: 100%;
}

body {
  // TODO: Lift to mixin
  height: calc(100% - 56px);
  width: 100%;
  font-family: $roboto;

  a {
    color: $turquoise;

    &:hover {
      color: darken($turquoise, 10%);
      text-decoration: none;
    }
  }
}

.modal {
  section {
    border-bottom: 1px solid #e9ecef;
    color: $dark-grey;
    margin-bottom: 20px;
    padding: 10px 0;

    .section-header {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .section-body {
      font-size: 14px;
    }
  }

  &#about-modal {
    section:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

#tree-view-container {
  background-color: $faint-blue;
  color: rgb(0, 0, 0);
  margin-top: 56px;
  width: 20%;
  padding-top: 16px;
  // TODO: Lift to mixin
  min-height: calc(100% - 20px);

  .input-container {
    display: flex;
    border-radius: 8px;
    border: 2px solid $med-grey;
    background: white;
    margin-bottom: 16px;

    &:focus-within {
      border-color: $turquoise;

      .icon-container {
        color: $turquoise;
      }
    }

    input#tree-view-search {
      flex: 1;
      font-size: 18px;
      border-radius: 8px;
      border: none;
      color: $med-grey;
      padding: 8px 12px;

      &:focus {
        border: none;
        outline-offset: 0;
        outline: none;
      }
    }

    .icon-container {
      flex: 0 0 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $med-grey;
    }
  }


}

.share-chart-popover {
  .popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .share-chart-content {
    display: flex;
    flex-direction: column;
    input {
      margin-top: 5px;
    }
  }
}


#main-plot-area {
  // TODO: Lift to mixin
  height: calc(100% - 56px - 50px);
  width: 80%;
  left: 20%;
  top: 56px;
  overflow-y: hidden;
  position: fixed;

  #plot-container {
    width: 100%;
    height: calc(100% - 72px - 60px);
  }

  #plot-header {
    width: 100%;
    padding-left: 40px;
    margin-top: 10px;
    h2 {
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 98%;
      height: 40px;
      i, span, a {
        line-height: 40px;
        vertical-align: middle;
      }
    }

    #filter-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

      input#search-input {
        width: 50%;
        font-size: 16px;
        border-radius: 8px;
        border: 2px solid #ccc;
        padding: 6px 10px;

        &:focus {
          border: 2px solid #0097cf;
          border-radius: 8px;
          outline-offset: 0;
          outline: none;
        }
      }
    }

    #threshold-slider-container {
      padding: 0 30px;

      form {
        text-align: center;
        border: solid 1px #ddd;
        border-radius: 3px;
        padding: 5px 0;
        height: 40px;
        position: relative;

        input#threshold-slider {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &[disabled="true"] {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

#general-tooltip {
  position: absolute;
  min-width: 350px;
  pointer-events: none;

  .arrow {
    top: 30%;
  }
}

#footer {
  height: 20px;
  color: $bolder-grey;
  background: white;

  .navbar-brand{
    font-size: 10px;
  }

  .dot {
    padding: 5px;
    color: black;
  }
}

