@import "~bootstrap/dist/css/bootstrap.css";
@import 'treeview';
@import 'colors';
@import 'scatterplot';
@import 'loading-spinner';
@import 'detail-modal';
@import 'about-modal';
@import 'fonts';
@import url(https://fonts.googleapis.com/css?family=Roboto);


.hide {
  display: none !important;
}

html {
  height: 100%;
}

body {
  // TODO: Lift to mixin
  height: calc(100% - 56px);
  width: 100%;
  font-family: $roboto;

  a {
    color: $turquoise;

    &:hover {
      color: darken($turquoise, 10%);
      text-decoration: none;
    }
  }
}

.modal {
  section {
    border-bottom: 1px solid #e9ecef;
    color: $dark-grey;
    margin-bottom: 20px;
    padding: 10px 0;

    .section-header {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .section-body {
      font-size: 14px;
    }
  }

  &#about-modal {
    section:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.input-with-icon {
  display: flex;
  border-radius: 8px;
  border: 2px solid $med-grey;
  background: white;

  &:focus-within {
    border-color: $turquoise;

    .icon-container {
      color: $turquoise;
    }
  }

  .icon-container {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $med-grey;
  }

  input {
    width: 100%;
    border: none;
    color: $med-grey;

    &:focus {
      border: none;
      outline-offset: 0;
      outline: none;
    }
  }
}

#tree-view-container {
  background-color: $faint-blue;
  color: rgb(0, 0, 0);
  margin-top: 56px;
  width: 20%;
  padding-top: 16px;
  // TODO: Lift to mixin
  min-height: calc(100% - 20px);

  .input-with-icon {
    margin-bottom: 20px;

    input#tree-view-search {
      flex: 1;
      font-size: 18px;
      border-radius: 8px;
      padding: 8px 12px;
    }
  }
}

.share-chart-popover {
  color: $dark-grey;
  font-family: $roboto;

  .popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #close-btn {
      color: $med-grey;

      &:hover {
        color: lighten($med-grey, 20%);
        cursor: pointer;
      }
    }
  }

  .share-chart-content {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 600;
    }

    input {
      margin-top: 5px;
    }
  }
}


#main-plot-area {
  // TODO: Lift to mixin
  height: calc(100% - 56px - 50px);
  width: 80%;
  left: 20%;
  top: 56px;
  overflow-y: hidden;
  position: fixed;

  #plot-container {
    width: 100%;
    height: calc(100% - 72px - 60px);
    position: relative;

    #threshold-slider-container {
      padding: 0 30px;
      position: absolute;
      top: 80px;
      right: 10px;
      z-index: 999;

      form {
        text-align: center;
        padding: 5px 0;
        height: 40px;
        transform: translate(40%, 0) rotate(270deg);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -5px;
        color: #C1C1C1;

        & > * {
          margin: 0 5px;
        }

        i {
          transform: rotate(90deg);
        }

        input#threshold-slider {
          top: 50%;
          left: 50%;
          -webkit-appearance: none;
          height: 5px;
          background: #C1C1C1;
          border-radius: 5px;

          &:focus {
            outline: none;
          }


          &[disabled="true"] {
            opacity: 0.3;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #C1C1C1;
            background: #F8F9FA;
            cursor: pointer;
          }

          &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #C1C1C1;
            background: #F8F9FA;
            cursor: pointer;
          }
        }
      }
    }
  }

  #plot-header {
    width: 100%;
    padding-left: 40px;
    margin-top: 10px;
    h2 {
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 98%;
      height: 40px;
      i, span, a {
        line-height: 40px;
        vertical-align: middle;
      }
    }

    #filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      & > * {
        margin-right: 10px;
      }

      .dropdown {
        a {
          width: 100%;
        }
      }

      & > *:not(.input-with-icon) {
        flex: 1;
      }

      input#search-input {
        flex: 2;
        font-size: 16px;
        border-radius: 8px;
        padding: 6px 10px;
      }
    }
  }
}

#general-tooltip {
  position: absolute;
  min-width: 350px;
  pointer-events: none;

  .arrow {
    top: 30%;
  }
}

#footer {
  height: 20px;
  color: $bolder-grey;
  background: white;

  .navbar-brand{
    font-size: 10px;
  }

  .dot {
    padding: 5px;
    color: black;
  }
}

