@import 'colors.scss';
@import 'target-details.scss';

svg.scatterplot {
  &.tooltip-visible {
    .datapoint {
      &:not(.selected), &.previously-selected {
        opacity: 0.2 ;
      }

      &:not(.selected):not(.previously-selected) {
        transition: opacity 0.5s;
      }

      &.previously-selected {
        transition: none;
      }

      &.selected {
        opacity: 1.0;
        transition: none;
      }


    }
  }

  .datapoint {
    stroke: blue;
    stroke-width: 2px;
    fill: blue;
    fill-opacity: 0.6;

    &:hover {
      cursor: pointer;
    }

    &:not(.selected) {
      transition: opacity 0.2s;
      transition-delay: 1s;
    }

    &.tdl-Tdark { @include stroke-and-fill($color-Tdark); }
    &.tdl-Tbio { @include stroke-and-fill($color-Tbio); }
    &.tdl-Tchem { @include stroke-and-fill($color-Tchem); }
    &.tdl-Tclin { @include stroke-and-fill($color-Tclin); }

    &.disease.disease-by-infectious-agent { @include stroke-and-fill($color-disease-by-infectious-agent); }
    &.disease.disease-of-anatomical-entity { @include stroke-and-fill($color-disease-of-anatomical-entity); }
    &.disease.disease-of-cellular-proliferation { @include stroke-and-fill($color-disease-of-cellular-proliferation); }
    &.disease.disease-of-mental-health { @include stroke-and-fill($color-disease-of-mental-health); }
    &.disease.disease-of-metabolism { @include stroke-and-fill($color-disease-of-metabolism); }
    &.disease.genetic-disease { @include stroke-and-fill($color-genetic-disease); }
    &.disease.physical-disorder { @include stroke-and-fill($color-physical-disorder); }
    &.disease.syndrome { @include stroke-and-fill($color-syndrome); }
    &.disease.unknown { @include stroke-and-fill($color-unknown); }
  }

  text.label {
    fill: $turquoise;
    font-size: 14px;

    &:hover {
      fill: darken($turquoise, 10%);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#scatterplot-tooltip {
  max-width: inherit;
  position: absolute;
  pointer-events: none;
  color: $dark-grey;

  .arrow {
    top: 50%;
  }
  .popover-header {
    text-align: center;
  }

  .popover-body {
    width: 550px;
    .main-row {
      height: 130px;
    }

    .actions-row .col-12 {
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
    }
  }

  @extend %target-details;

}

#plot-legend {
  .legend-row {
    padding: 0 30px;
    width: 100%;
  }

  .card {
    border: none;

    .card-body {
      padding: 0.5rem;
    }

    h5 {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .legend-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .legend-item {
      .marker-border {
        border-radius: 50%;
        width: 20px;
        max-height: 20px;
        display: inline-block;

        .marker-color-box {
          width: 16px;
          height: 16px;
          border-radius: 50%;

          &.Tclin { background: $color-Tclin; }
          &.Tchem { background: $color-Tchem; }
          &.Tbio { background: $color-Tbio; }
          &.Tdark { background: $color-Tdark; }

          &.disease-by-infectious-agent { background: $color-disease-by-infectious-agent; }
          &.disease-of-anatomical-entity { background: $color-disease-of-anatomical-entity; }
          &.disease-of-cellular-proliferation { background: $color-disease-of-cellular-proliferation; }
          &.disease-of-mental-health { background: $color-disease-of-mental-health; }
          &.disease-of-metabolism { background: $color-disease-of-metabolism; }
          &.genetic-disease { background: $color-genetic-disease; }
          &.physical-disorder { background: $color-physical-disorder; }
          &.syndrome { background: $color-syndrome; }
          &.unknown { background: $color-unknown; }
        }
      }

      .legend-label {
        margin-left: 5px;
        vertical-align: top;
        font-size: 14px;
      }

      svg.shape-icon {
        vertical-align: top;
        stroke: $color-legend-shape;
        stroke-width: 2px;
        fill: $color-legend-shape;
        fill-opacity: 0.5;
      }

    }


  }
}