%target-details {
  .main-row {
    height: 130px;
  }

  .details-col {
    display:flex;
    flex-direction: column;
    align-items: center;

    .row {
      flex: 1 1 0;
      width: 100%;


      .label, .value {
        margin-top: auto;
        margin-bottom: auto;
      }

      .label {
        font-weight: bold;
        padding-right: 0;
        padding-left: 0;
      }

      .value {
        padding-left: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .badge-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;

    span {
      margin: auto;
      font-size: 18px;
      text-align: center;
      width: 100%;
    }

    /* TDL badges. TODO: Centralize this. */
    &.badge-tdl {
      &[data-tdl="Tdark"] {
        background-color: $color-Tdark;
        span { color: white; }
      }
      &[data-tdl="Tbio"] { background-color: $color-Tbio; }
      &[data-tdl="Tchem"] { background-color: $color-Tchem; }
      &[data-tdl="Tclin"] { background-color: $color-Tclin; }
    }

    /* IDG Family badges. TODO: Centralize this. */
    &.badge-idgfam {
      &[data-idgfam="GPCR"] { background-color: $color-GPCR; }
      &[data-idgfam="NR"] { background-color: $color-NR; }
      &[data-idgfam="ION"] { background-color: $color-ION; }
      &[data-idgfam="KINASE"] { background-color: $color-KINASE; }
      &[data-idgfam=""] {
        background-color: $bolder-grey;
        span { color: white; }
      }

    }
  }

}