@import 'colors';

#tree-view {
  list-style: none;
  padding-left: 0px;

  & > li.tree-node {
    padding-left: 0 !important;

  }

  li.tree-node {
    padding: 6px 0 0 16px;

    /* Selected node item */
    &.selected > span.btn {
      background: #337ab7;
      border-color: #2e6da4;
      color: white;

      &:hover {
        background: darken(#337ab7, 10%);
        border-color: darken(#236da4, 10%);
      }
    }

    span.btn {
      width: 100%;
      text-align: left;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;

      background: white;
      border: 1px solid $alto-grey;
      padding-right: 0;

      position: relative;

      &:hover {
        background: $alto-grey;
      }

      .badge {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 5px;
        padding-top: 4px;
        padding-bottom: 3px;
        text-align: center;
        width: 40px;
        background: #e9ecef;
        font-weight: 600;
        color: #555;
        letter-spacing: 0.2px;
      }

    }

    .loading-spinner {
      background: transparent;
      text-align: left;
      margin: 10px 0 10px 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

}