@import 'colors';

#tree-view {
  list-style: none;
  padding-left: 0px;

  & > li.tree-node {
    padding-left: 0 !important;

  }

  li.tree-node {
    padding: 6px 0 0 16px;

    /* Selected node item */
    &.selected > span.btn {
      background: $turquoise;
      color: white;

      .badge {
        color: white;
      }

      &:hover {
        background: darken($turquoise, 5%);
        border-color: darken($turquoise, 5%);
      }
    }

    & > ul > li.tree-node {

      &.selected > span.btn {
        background: $turquoise;
        color: white;

        .badge {
          color: white;
        }

        &:hover {
          background: darken($turquoise, 5%);
          border-color: darken($turquoise, 5%);
        }
      }

      span.btn {
        background: $light-grey;

        &:hover {
          background: $turquoise;
          border-color: $turquoise;
          color: white;

          .badge {
            color: white;
          }
        }
      }
    }

    span.btn {
      width: 100%;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;

      background: $faint-blue;
      border: 1px solid $turquoise;
      color: $turquoise;
      padding-right: 0;

      position: relative;

      &:hover {
        background: white;
      }

      .badge {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 5px;
        padding-top: 4px;
        padding-bottom: 3px;
        text-align: center;
        width: 40px;
        background: inherit;
        color: $turquoise;
        font-weight: 300;
        letter-spacing: 0.2px;
      }

    }

    .loading-spinner {
      background: transparent;
      text-align: left;
      margin: 10px 0 10px 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

}