mixin overview-row
    section.overview
        .section-header
            | Overview
        .section-body
            p TIN-X is an interactive visualization tool for discovering interesting associations between diseases and potential drug targets.
            p.
                We used natural language processing to identify disease and protein mentions in the text
                of <a href="http://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">PubMed</a>
                abstracts. Using this data, we derived two metrics: #[strong novelty] and #[strong importance]. Novelty measures the
                relative scarcity of specific publications about a given concept (such as a target or a disease),
                while importance measures the relative strength of the association between two concepts. We then built
                this web tool, which enables users to explore the relationships between the novelty of potential drug targets
                and their importance to diseases.
            p Our approach was guided by the following assumptions:
            ul
                li A target that is mentioned in many abstracts that also mention a specific disease is likely to be of importance to that disease.
                li A target or disease that is mentioned in fewer abstracts is more novel and less well understood.
                li Abstracts which mention only a few targets and diseases are more specific and should be given greater weight than those which mention many.
            p For more details about how these scores are computed, please see the paper cited below.

mixin publications-row
    section.publications
        .section-header
            | Publications
        .section-body
            ul
                li.
                    Cannon, D.C., Yang, J.J., Mathias, S.L., Ursu, O., Mani, S., Waller, A., Schürer, S.C., Jensen, L.J.,
                    Sklar, L.A., Bologa, C.G. and Oprea, T.I., 2017. <a title="TIN-X: target importance and novelty explorer"
                    href="https://doi.org/10.1093/bioinformatics/btx200">TIN-X: target importance and novelty explorer</a>. Bioinformatics.

mixin feedback-row
    section.feedback
        .section-header
            | Feedback
        .section-body
            p.
                Please report any bugs you find and send us suggestions for new features using our
                <a href="https://bitbucket.org/unmtid/tinx-ui" target="_blank">Bitbucket Issue Tracker</a>.

mixin team-row
    section.team
        .section-header
            | Our Team
        .section-body
            p.
                TIN-X was a collaborative effort involving many researchers from the University of New Mexico,
                the University of Copenhagen, and the University of Miami. The main contributors are listed below:
            ul
                li
                    a(href="https://www.researchgate.net/profile/Daniel_Cannon" target="_blank") Daniel Cannon
                li
                    a(href="https://vivo.health.unm.edu/display/n853" target="_blank") Cristian Bologa
                li
                    a(href="https://vivo.health.unm.edu/display/n6723" target="_blank") Stephen Mathias
                li
                    a(href="https://vivo.health.unm.edu/display/n2515" target="_blank") Jeremy Yang
                li
                    a(href="https://vivo.health.unm.edu/display/n7948" target="_blank") Tudor Oprea
                li
                    a(href="http://jensenlab.org" target="_blank") Lars Jensen
                li
                    a(href="https://www.researchgate.net/profile/Stephan_Schurer" target="_blank") Stephan Schürer

mixin funding-row
    section.funding
        .section-header
            | Funding
        .section-body
            p.
                TIN-X was funded by the
                <a href="http://commonfund.nih.gov/idg/overview" target="_blank">Illuminating the Druggable Genome (IDG) Project</a>
                (<a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8785271&icde=24069131&ddparam=&ddvalue=&ddsub=&cr=3&csb=default&cs=ASC" target="_blank">U54 CA189205-01</a>).

mixin update-row
    section.update
        .section-header
            | Last Update
        .section-body
            p The data in this application was last updated on:

mixin about-modal
    #about-modal.modal.fade(role="dialog" aria-labeledby="about-modal-title" aria-hidden="true")
        .modal-dialog(role="document").modal-lg
            .modal-content
                .modal-header
                    #about-modal-title.modal-title
                        | About TIN-X
                    button.close(type="button" data-dismiss="modal" aria-label="close")
                        span(aria-hidden="true") &times;
                .modal-body
                    +overview-row
                    +publications-row
                    +feedback-row
                    +team-row
                    +funding-row
                    +update-row
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
