mixin dropdown-item(type, value, id, label)
    li
        a(href="#" data-type=type data-value=value)
            input.form-check-input(type="checkbox" id=id)
            span.form-check-label= label