mixin footer
  nav#footer.navbar.fixed-bottom
    .navbar-brand
      | &copy; 2014-2024
      span.dot &middot;
      a(target="_blank", href="http://medicine.unm.edu/academic-divisions/translational-informatics/index.html")
        | Translational Informatics Division
      span.dot &middot;
      a(target="_blank", href="http://www.unm.edu")
        | University of New Mexico
      span.dot &middot;
      a(target="blank", href="https://bitbucket.org/dccannon/tin-x")
        | Report a Bug

