mixin detail-row(label, classname)
  .row
    .col-3.label
      =label+":"
    .col-9.value(class=classname)

mixin scatterplot-tooltip
  #scatterplot-tooltip.popover.bs-popover-right(style="opacity: 0;")
    .arrow.left-arrow
    .popover-header
      | My Header
    .popover-body
      .container
        .row.main-row
          .col-8.details-col
            +detail-row("Full name", "full-name")
            +detail-row("Family", "family")
            +detail-row("Pharos", "pharos")
            +detail-row("DrugCentral", "drug-central")
            +detail-row("DTO ID", "dto-id")


          .col-4.badge-col
            .badge.badge-tdl(role="alert")
              span Test
            .badge.badge-idgfam(role="alert")
              span Test
        .row.actions-row(style="visibility: hidden;")
          .col-12
            button.btn.btn-primary#view-details-button View Details
            button.btn.btn-danger#close-modal-button Close


