mixin color-legend-item(label, classname)
  .legend-item
    .marker-border
      .marker-color-box(class=classname)
    span.legend-label
      =label

mixin shape-legend-item(label)
  .legend-item
    svg.shape-icon(data-label=label, width="16px", height="16px")
    span.legend-label
      =label

mixin target-legend
  .row.legend-row.only-show-on-disease
    .col-sm-4
      .card
        .card-body
          h5
            | Colors Indicate Target Development Level (TDL)
          .legend-items
            +color-legend-item("Tclin", "Tclin")
            +color-legend-item("Tchem", "Tchem")
            +color-legend-item("Tbio",  "Tbio")
            +color-legend-item("Tdark", "Tdark")

    .col-sm-4.offset-md-2
      .card
        .card-body
          h5
            | Shapes Indicate IDG Family
          .legend-items
            +shape-legend-item("GPCR")
            +shape-legend-item("OGPCR")
            +shape-legend-item("ION")
            +shape-legend-item("KINASE")
            +shape-legend-item("NR")
            +shape-legend-item("Other")

mixin disease-legend
  .row.legend-row.only-show-on-target
    .col-sm-12
      .card
        .card-body
          h5
            | Colors Indicate Category of Disease
          .legend-items
            +color-legend-item("Infectious agent", "disease-by-infectious-agent")
            +color-legend-item("Anatomical entity", "disease-of-anatomical-entity")
            +color-legend-item("Cellular proliferation", "disease-of-cellular-proliferation")
            +color-legend-item("Mental health", "disease-of-mental-health")
            +color-legend-item("Metabolism", "disease-of-metabolism")
            +color-legend-item("Genetic disease", "genetic-disease")
            +color-legend-item("Physical disorder", "physical-disorder")
            +color-legend-item("Syndrome", "syndrome")
