include ./mixins/navbar
include ./mixins/footer
include ./mixins/scatterplot-tooltip
include ./mixins/general-tooltip
include ./mixins/target-legend
include ./mixins/detail-modal
doctype html
html(lang='en')
  head
    title TIN-X: Target Importance and Novelty Explorer
    meta(charset="UTF-8")
    meta(name="Description", content="TIN-X is an interactive visualization tool for discovering interesting associations between diseases and potential drug targets. We used natural language processing to identify disease and protein mentions in the text of PubMed abstracts. Using this data, we derived two metrics: novelty and importance. Novelty measures the relative scarcity of specific publications about a given concept (such as a target or a disease), while importance measures the relative strength of the association between two concepts. We then built this web tool, which enables users to explore the relationships between the novelty of potential drug targets and their importance to diseases.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
  body(style="visibility: hidden;")
    +scatterplot-tooltip
    +general-tooltip
    +navbar

    #tree-view-container
      .container
        input#tree-view-search.typeahead(autocomplete="off", placeholder="Search for a disease...", aria-label="Search for a disease.")

        ul#tree-view

    #main-plot-area
      #plot-header
        h2#plot-title
          span.loading-spinner.hide
            i.fas.fa-sync.refresh-animation
            span &nbsp;Loading...
          span.title &nbsp;
          a(target="_blank", href="#")
      #plot-container
      #plot-legend
        +target-legend

    +footer
    +detail-modal


