include ./mixins/navbar
include ./mixins/footer
doctype html
html(lang='en')
  head
    title TIN-X
    meta(charset="UTF-8")
  body
    +navbar

    #tree-view-container.typeahead(autocomplete="off")
      .container
        input#tree-view-search

        ul#tree-view

    #plot-container
      | Hi!

    +footer


