include ./mixins/navbar
include ./mixins/footer
doctype html
html(lang='en')
  head
    title TIN-X
    meta(charset="UTF-8")
  body
    +navbar

    #tree-view-container
      | Foobar

    #plot-container
      | Hi!

    +footer


