include ./mixins/navbar
include ./mixins/footer
doctype html
html(lang='en')
  head
    title TIN-X
    meta(charset="UTF-8")
  body(style="display: none;")
    +navbar

    #tree-view-container.typeahead(autocomplete="off")
      .container
        input#tree-view-search(placeholder="Search for a disease...")

        ul#tree-view

    #plot-container
      | Hi!

    +footer


